header {
  color: black;
  text-align: center;
}
.logo {
  float: center;
  font-weight: bold;
  margin: 0%;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(184, 147, 78);
}
li {
  float: left;
}
li a {
  display: inline-block;
  text-align: center;
  color: rgb(30, 36, 116);
  padding: 14px 16px;
  text-decoration: none;
}
/*Change the link color to #111 (black) on hover*/
li a:hover {
  background-color: rgb(15, 14, 14);
}
/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #bbb;
}
.image1 {
  float: left;
}
.aboutme {
  float: right;
  width: 1000px;
}
.coding {
  float: right;
}
.skills {
  float: left;
  width: 900px;
  overscroll-behavior-inline: ;
}
.evening {
  float: left;
}
.hobbies {
  float: right;
  width: 900px
}
.awesome {
  float: right;
  margin-right: 0%;
  padding-right: 0%;
}
footer {
  color: blueviolet;
  border: solid;
}
body {
  background-color: rgba(0, 0, 255, 0.281);
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
